* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 1.1vw;
}
html::-webkit-scrollbar-track {
  background-color: #2d2d2d;
}
html::-webkit-scrollbar-thumb {
  background-color: rgb(168, 166, 166);
  border-radius: 2rem;
}
/* after clicking on the pages, we need to hide only x direction overflow. so, we unset overflow and then add overflow-y to hidden */

body {
  /* variables */
  --portfolio-navbar-color: #2d2d2d;
  --green: #68d245;
  --red: #d3434e;
  --background-dark: black;
  --color-light: #dddddd;
  --terminal-color: #300a24;
  --terminal-text: #79c431;
  --main-page-background: rgb(51, 51, 51);
  --navbar-color: rgb(168, 166, 166);
  --green-border: rgb(126, 204, 1);
  --blue-border: rgb(25, 96, 178);
  --sand-border: rgb(159, 128, 88);
  --project-accent-color: rgb(94, 37, 231);
  --project-background: rgb(17, 18, 19);
  /* overflow: hidden; */
  color: var(--color-light);
  background-color: var(--background-dark);
}

.opening-page {
  position: relative;
  font-family: "Roboto Mono";
  height: 100vh;
  opacity: 1;
  z-index: 1;
}

.second-page {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto Mono";
  min-height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
  padding: 10px;
  background-color: var(--terminal-color);
}

.span-text {
  color: var(--terminal-text);
}

.main-page-entry,
.line-1,
.line-2,
.line-3,
.line-4,
.para-a,
.para-b,
.para-c,
.para-d {
  opacity: 0;
  pointer-events: none;
}

.text-box {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  color: var(--color-light);
  text-decoration: none;
  font-size: inherit;
}

.third-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.7s;
  height: 100vh;
  background-color: black;
  color: var(--color-light);
  transition: all 1s;
}

.third-heading {
  font-family: "Dancing Script";
  font-size: 5rem;
}

.third-footer {
  font-family: "Roboto Mono";
  font-size: 1.5rem;
  /* transform: translateY(-2rem); */
}

/* main-page */

.main-page {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  width: 100vw;
  background-color: var(--main-page-background);
  z-index: -100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 0.8s ease;
}

.background-image img {
  pointer-events: none;
  transform: scale(0.4);
}

.navbar {
  position: absolute;
  width: 100vw;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  opacity: 200;
  background-color: var(--navbar-color);
  color: black;
  font-weight: bold;
  font-family: "Roboto Mono";
}

.location {
  pointer-events: none;
  justify-self: flex-start;
  margin-left: 4rem;
}
.username {
  pointer-events: none;
  margin: auto;
}

.time {
  border-right: solid black 0.2rem;
  border-radius: 2px;
  padding-right: 0.5rem;
}

.time-date {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-right: -10rem;
}

.computer-navbar {
  position: relative;
  display: flex;
  gap: 1rem;
  justify-self: flex-end;
  margin-right: 1rem;
  cursor: pointer;
  transform: scale(0.05);
  margin-right: -10rem;
}

.computer-info-dropdown {
  position: relative;
  opacity: 0;
  pointer-events: none;
  height: 20rem;
  width: 10rem;
  background-color: var(--navbar-color);
  list-style: none;
  position: absolute;
  top: 3rem;
  border-radius: 10px;
  padding: 1rem;
  right: 2rem;
}

.computer-info-dropdown .close {
  position: absolute;
  top: 0.2rem;
  right: 0.7rem;
  cursor: default;
  pointer-events: all;
}

.folders {
  position: absolute;
  top: 50vh;
  left: 5vw;
  transform: translateY(-50%);
  display: grid;
  gap: 8rem;
  z-index: inherit;
}

.folder {
  transform: scale(3.5) translateY(2px);
  transform-origin: 0;
  fill: var(--navbar-color);
  cursor: pointer;
}

/* .folder-1 > img {
  transform: translatex(1rem);
  margin-top: 2rem;
  width: 4rem;
  color: var(--navbar-color);
  pointer-events: all;
  cursor: pointer;
  margin: -0.5rem;
  text-align: left;
} */

.folder-1,
.folder-2,
.folder-3 {
  display: grid;
  gap: 2rem;
}

.folder-name {
  font-family: "Roboto Mono";
  color: var(--navbar-color);
}

.document {
  fill: var(--navbar-color) !important;
  height: 3.5rem;
  pointer-events: all;
  cursor: pointer;
}

/* portfolio */
.portfolio {
  /* overflow-y: unset; */
  opacity: 0;
  z-index: -200;
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 0.4s;
}

.portfolio-main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.portfolio-main-heading h1 {
  margin: auto;
  color: black;
  font-size: 3rem;
  font-family: "Bodoni Moda";
}

.portfolio-date {
  flex-grow: 0;
  color: black;
  align-self: flex-start;
  font-family: "Playfair Display";
  font-size: 1.2rem;
}

.portfolio-navbar {
  z-index: 100000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--portfolio-navbar-color);
  box-shadow: 0px 10px 80px -7px rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 2.5rem;
  margin-bottom: 2rem;
}

.navbar-actions {
  display: flex;
  gap: 0.5rem;
}

.red {
  cursor: pointer;
  pointer-events: all;
  margin-left: 1rem;
  background-color: var(--red);
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
}

.portfolio-navbar-text {
  margin: auto;
  font-family: "Open Sans";
  font-size: 0.8rem;
  color: #a0a0a0;
}

.portfolio-heading {
  font-family: "Libre Baskerville";
  margin: auto;
  color: black;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}
@media (max-width: 840px) {
  .portfolio-heading {
    margin-top: 10rem;
  }
  .portfolio-img {
    margin: 0 auto;
  }
  .left .portfolio-img {
    grid-row-start: 1;
  }
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: 5rem;
  /* align-items: space-between; */
  overflow-wrap: break-word;
  padding: 1rem;
  height: 100%;
}

.right {
}

.left {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.portfolio-img {
  height: 15rem;
  width: 15rem;
  border-radius: 5px;
  position: relative;
  left: 3rem;
  top: 3rem;
}
.portfolio-img-content {
  height: 15rem;
  width: 15rem;
  border-radius: 5px;
  position: relative;
  left: -2rem;
  top: 3rem;
}

/* .fix-img {
  height: 15rem;
  width: 15rem;
  border-radius: 5px;
  position: relative;
  left: 3rem;
  top: 3rem;
}

.fix-img-content {
  height: 15rem;
  width: 15rem;
  border-radius: 5px;
  position: relative;
  left: 5rem;
  top: 3rem;
} */

.sand-border {
  border: 2px solid var(--sand-border);
}

.blue-border {
  border: 2px solid var(--blue-border);
}

.green-border {
  border: 2px solid var(--green-border);
}

.portfolio-para {
  color: rgb(51, 51, 51);
  font-size: 1.2rem;
  font-family: "Old Standard TT";
}

.first-letter {
  font-family: "Bodoni Moda";
  font-weight: bold;
  font-size: 2.5rem;
}

.mouse-svg,
.bottom-text {
  text-align: center;
}

/* project-page */

.first-section {
  background-color: var(--project-background);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  gap: 0.5rem;
}

.project-page-heading,
.project-page {
  font-family: "Roboto Mono";
  font-size: 2rem;
}
