* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* variables */
  --background-dark: black;
  --color-light: #dddddd;
  --terminal-color: #300a24;
  --terminal-text: #79c431;
  color: var(--color-light);
  background-color: var(--background-dark);
  /* overflow: hidden; */
}

.opening-page {
  position: relative;
  font-family: "Roboto Mono";
  height: 100vh;
  opacity: 1;
  z-index: 1;
}

.second-page {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto Mono";
  min-height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
  padding: 10px;
  background-color: var(--terminal-color);
}

.span-text {
  color: var(--terminal-text);
}

.main-page-entry,
.line-1,
.line-2,
.line-3,
.line-4,
.para-a,
.para-b,
.para-c,
.para-d {
  opacity: 0;
  pointer-events: none;
}

.text-box {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  color: var(--color-light);
  text-decoration: none;
  font-size: inherit;
}

.third-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.7s;
  height: 100vh;
  background-color: black;
  color: var(--color-light);
  font-family: "Cedarville Cursive";
  transition: all 1s;
}

.third-heading {
  font-family: "Roboto Mono";
  font-size: 4rem;
}

.third-footer {
  font-size: 2rem;
  /* transform: translateY(-2rem); */
}
